#account {
    display: block;
}

#account img {
    display: inline-block;
    object-fit: cover;
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

#account_image {
    display: inline-block;
    /*! border: dotted 3px var(--var-color-border-transwhite); */
    margin: 10px;
    padding: 10px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: var(--var-color-bg-trans-sub1);
}

#account_info {
    display: inline-block;
    /*! border: double var(--var-color-border-transwhite); */
    background: var(--var-color-bg-trans-sub1);
    padding: 10px;
    box-shadow: 5px 5px 10px black;
}

#account_names {
    font-size: xx-large;
}

#account_firstName, #account_lastName {
    color: var(--var-color-fg-post-account);
}

#account_userName {
    color: var(--var-color-fg-post-username);
}

#account_email {
    color: var(--var-color-fg-post-email);
}

#account_address {
    color: var(--var-color-fg-post-address);
}

#account_counters_table {
    color: var(--var-color-fg-white);
    border-collapse: collapse; /* Removes spacing between table cells */
    text-align: center; /* Centers text in all cells */
    table-layout: fixed; /* Ensures columns are evenly spaced */
    margin: 2px 0;
}

#account_counters_table th, #account_counters_table td {
    padding: 2px;
    border: 1px dotted var(--var-color-border-transwhite);
    font-weight: bolder;
}

#account_created {
    color: var(--var-color-fg-post-date);
    font-size: small;
    text-align: right;
}

#account_posts {
    display: block;
    width: 100%;
    border: 0;
}