#account {
    display: block;
}

#account img {
    display: inline-block;
    object-fit: cover;
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

#account_image {
    display: inline-block;
    /*! border: dotted 3px var(--var-color-border-transwhite); */
    margin: 10px;
    padding: 10px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: var(--var-color-bg-trans-sub1);
}

#account_info {
    display: inline-block;
    /*! border: double var(--var-color-border-transwhite); */
    background: var(--var-color-bg-trans-sub1);
    padding: 10px;
    box-shadow: 5px 5px 10px black;
}

#account_names {
    font-size: xx-large;
}

#account_firstName, #account_lastName {
    color: var(--var-color-fg-post-account);
}

#account_userName {
    color: var(--var-color-fg-post-username);
}

#account_email {
    color: var(--var-color-fg-post-email);
}

#account_address {
    color: var(--var-color-fg-post-address);
}