.account_link {
    color: white;
    text-decoration: none;
    width: fit-content;
    display: inline-block;
    height: fit-content;
    margin: 20px;
}

.account {
    display: inline-block;
    width: 230px;
    height: 300px;
    max-width: 230px;
    max-height: 300px;
    background-color: #101010;
    border: 1px solid white;
    padding: 3px;
    border-radius: 10px;
    margin: 5px;
}

.account_img_cont {
    display: flex;
}

.account img {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 3px solid white;
    border-radius: 100px;
    margin: 0 auto;
}

.account_info {
    overflow: hidden;
    padding: 10px;
}

.account_info_head {
    padding: 0;
    margin: 0;
}

.account_info_head_firstName,
.account_info_head_lastName {
    font-size: 14px;
    margin: 0 5px 0 0;
    color: lime;
    display: inline;
}

.account_info_head_userName {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #5ac0cc;
    display: inline;
}

.account_info_head_email {
    color: coral;
    font-size: 12px;
}

.account_info_body {
    overflow: hidden;
    overflow-wrap: anywhere;
    border-top: 1px dotted #ddd;
}

.account_info_body_bio,
.account_info_body_address,
.account_info_body_accountRole {
    margin: 8px 0;
    font-size: 14px;
    color: #555;
}

.account_info_body_bio {
    font-style: italic;
    color: #666;
}

.account_info_body_address {
    font-size: 15px;
}

.account_info_body_accountRole {
    font-weight: bold;
    color: #333;
}
