.account_link { 
    display: inline-block;
}

.account {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    width: 400px;
    height: 110px;
    font-size: small;
    color: var(--var-color-white);
    box-shadow: 0px 0px 10px 3px var(--var-color-pink-3-trans);
    background: rgba(0, 0, 0, 0.05); /* Semi-transparent white */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 20px;
}

.account_content {
    display: flex;
    justify-content: left;
    align-content: left;
    gap: 5px;
}

.account_img_cont, .account_img {
    display: inline-block;
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    border-radius: 100%;
}

.account_info {
    display: inline-block;
}

.account_counters {
    color: var(--var-color-white);
    margin: 1px;
    padding: 1px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.account_counter {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1px;
}

.account_counters_number { font-size: small; }
.account_counters_label { font-size: smaller; }
.account_firstName, .account_lastName { color: var(--var-color-green); }
.account_userName { color: var(--var-color-cyan); }
.account_email { color: var(--var-color-lime); }
.account_address { color: var(--var-color-yellow); }
.account_postsCount { color: var(--var-color-purple); }
.account_likesCount { color: var(--var-color-pink); }
.account_followersCount { color: var(--var-color-orange); }
.account_followingCount { color: var(--var-color-green); }
