#account {
    display: block;
}

#account img {
    display: inline-block;
    object-fit: cover;
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

#account_image {
    display: inline-block;
    /*! border: dotted 3px var(--var-color-border-transwhite); */
    margin: 10px;
    padding: 10px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: var(--var-color-bg-sub1);
}

#account_info {
    display: inline-block;
    /*! border: double var(--var-color-border-transwhite); */
    background: var(--var-color-bg-sub1);
    padding: 10px;
    box-shadow: 5px 5px 10px black;
}

#account_names {
    font-size: xx-large;
}

#account_firstName,
#account_lastName {
    color: var(--var-color-green);
}

#account_userName {
    color: var(--var-color-cyan);
}

#account_email {
    color: var(--var-color-lime);
}

#account_address {
    color: var(--var-color-yellow);
}

#account_counters_table {
    color: var(--var-color-white);
    border-collapse: collapse;
    /* Removes spacing between table cells */
    text-align: center;
    /* Centers text in all cells */
    table-layout: fixed;
    /* Ensures columns are evenly spaced */
    margin: 2px 0;
}

#account_counters_table th,
#account_counters_table td {
    padding: 2px;
    border: 1px dotted var(--var-color-border-transwhite);
    font-weight: bolder;
}

#account_created {
    color: var(--var-color-gray);
    font-size: small;
    text-align: right;
}

#account_iframe {
    display: block;
    width: 100%;
    border: 0;
}

.tab-container {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: left;
    border-bottom: 1px solid gray; /* Keep the container's bottom border */
    position: relative; /* Ensure tabs can overlap this border */
}

.tab {
    font-weight: bold;
    padding: 10px 50px;
    margin: 0 5px;
    border-radius: 20px 20px 0 0;
    cursor: pointer;
    border: 1px dashed var(--var-color-border-transwhite);
    border-bottom: none; /* Prevent individual tabs from having a bottom border */
    background-color: transparent;
    position: relative; /* Required for layering */
    z-index: 1; /* Default z-index for inactive tabs */
}

.tab.active {
    border: 1px solid gray;
    border-bottom: none; /* Ensure the active tab has no bottom border */
    background-color: black;
    position: relative;
    z-index: 2; /* Bring the active tab above the container */
    margin-bottom: -1px; /* Pull the active tab down slightly to overlap the container's border */
}

.tab-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    z-index: 0; /* Keeps the container border below all tabs */
}
