.account_link {
    text-decoration: none;
    width: fit-content;
    display: inline-block;
    height: fit-content;
}

.account {
    display: inline-block;
    width: 230px;
    height: 230px;
    max-width: 230px;
    max-height: 230px;
    background-color: var(--var-color-bg-trans-sub1);
    border: 1px solid var(--var-color-border-transwhite);
    padding: 3px;
    border-radius: 10px;
    margin: 5px;
}

.account_img_cont {
    display: flex;
}

.account img {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 3px solid var(--var-color-border-transwhite);
    border-radius: 100px;
    margin: 0 auto;
}

.account_info {
    padding: 0px;
}

.account_info_head {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 5px;
    margin: 0;
}

.account_info_head_names {
    font-size: large;
    margin-bottom: 5px;
}

.account_firstName,
.account_lastName {
    color: var(--var-color-fg-post-account);
}

.account_firstName
.account_lastName,
.account_userName,
.account_email,
.account_bio,
.account_address,
.account_isAdmin
{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.account_userName {
    color: var(--var-color-fg-post-username);
}

.account_email {
    color: var(--var-color-fg-post-email);
    font-size: small;
}

.account_info_body {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-top: 1px dotted #ddd;
    padding: 5px;
}

.account_bio, .account_address {
    font-size: small;

}

.account_bio {
    color: var(--var-color-fg-white);
}

.account_address {
    color: var(--var-color-fg-post-address)
}

.searchform table th {
    text-align: right;
}