#cont {
    width: 100%;
    height: 100vh;
}

#dm {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 50px auto auto auto;
    box-shadow: 0px 0px 100px 2px var(--var-color-pink-4-trans);
}

#chats_cont, #msgs_cont, #info_cont {
    display: flex;
    color: white;
    box-sizing: border-box; /* Include padding and border in width calculations */
    flex-direction: column;
    background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

#chats_cont {
    flex: 0 0 20%; /* Fixed 20% width */
    border-right: 3px dotted var(--var-color-barely);
}

#msgs_cont {
    flex: 0 0 60%; /* Fixed 60% width */
}

#info_cont {
    flex: 0 0 20%; /* Fixed 60% width */
    border-left: 3px dotted var(--var-color-barely);
}

#info {
    padding: 10px;
    overflow-y: auto;
}

#info_members {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: left;
}

.info_members_account {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: left;
    width: fit-content;
}

.account_link_remove {
    text-decoration: none;
}

.chat_controls_button {
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    margin: 8px auto;
    display: block;
    width: fit-content;
    cursor: pointer;
    text-decoration: none;
    color: var(--var-color-white);
    padding: 4px 10px;
    border-radius: 20px;
    border: 1px solid rgba(48, 25, 52, 1);
    background: linear-gradient(to bottom, rgb(48, 25, 52), rgba(48, 25, 52, 0.3));
    transform: scaleX(1) scaleY(1);
    transition: transform 0.1s ease;
    text-align: center;
}

h2 {
    margin: 0;
    padding: 10px;
    font-size: 18px;
    width: auto;
}

#chats, #msgs {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

.chat {
    border-radius: 20px;
    border: 1px dashed var(--var-color-barely);
    padding: 0;
    margin: 0 0 10px 0;
}

.selected {
    border: 1px solid var(--var-color-barely);
    background-color: #ae81ff20;
}

.chat_button {
    cursor: pointer;
    background: transparent;
    color: white;
    text-align: left;
    font-size: large;
    margin: 0 auto;
    border: none;
    border-bottom: 1px dashed var(--var-color-barely);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
}

.chat_name {

}

.chat_createdDate {
    float: right;
    font-size: small;
    color: gray;
}

.chat_members {
    padding: 10px;
}

.account_link {
    display: flex;
    align-items: center;
    gap: 2px;
    justify-content: center;
    text-decoration: none;
    font-size: small;
}

.account {
    padding: 3px;
    display: inline-block;
}

.account_image {
    display: inline;
    width: 20px;
    height: 20px;
    max-width: 20px;
    max-height: 20px;
    border-radius: 100%;
}

.account_userName {
    display: inline-flex;
    text-decoration: none;
    color: var(--var-color-cyan);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
    font-size: small;
}

.account_joinedDate {
    text-decoration: none;
    font-size: small;
    margin-left: 10px;
    color: gray;
}

.message {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: left;
    align-items: center;
    margin: 10px;
}

.message_date {
    color: white;
    font-size: small;
    opacity: 0.6;
  
}

#msgform {
    display: flex;
    gap: 5px;
    padding: 5px;
    border-top: 3px dotted var(--var-color-barely);
}

#msgform input {
    font-family: inherit;
    color: white;
    background-color: transparent;
    font-size: inherit;
    border: 1px dashed var(--var-color-pink-4-trans);
    display: block;
    padding: 10px;
    width: 100%;
}


#msgform input:focus {
    outline: 1px dashed var(--var-color-pink-4-trans); /* Custom outline */
}

#msgform input::placeholder {
    color: var(--var-color-pink-4-trans);
    opacity: 0.9;
}

#msgform button {
    color: white;
    padding: 3px;
    border: 1px dashed var(--var-color-pink-4-trans);
    background-color: transparent;
}

#newChat button  {
    font-family: inherit;
    font-size: inherit;
    margin: 30px auto auto auto;
    display: block;
    width: fit-content;
    cursor: pointer;
    text-decoration: none;
    color: var(--var-color-white);
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid rgba(48, 25, 52, 1);
    background: linear-gradient(to bottom, rgba(48, 25, 52, 1), rgba(48, 25, 52, 0.3));
    transform: scaleX(1) scaleY(1);
    transition: transform 0.1s ease;
}

#newChat button:hover {
    transform: scaleX(1.1) scaleY(1.1);
}

#newChat button:active {
    transform: scaleX(1.2) scaleY(1.2);
}

#createChatForm{
    height: inherit;
}

.popup-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat-popup {
    color: var(--var-color-white);
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--var-color-bg-sub1);
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 400px;
}

.chat-popup.show {
    display: flex !important;
    flex-direction: column;
}

.overlay {
    display: none;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.4);
    z-index: 999;
}

.overlay.show {
    display: block;
}

.popup-header {
    position: sticky;
    top: 0;
    z-index: 2;
}

.popup-body {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    font-size: 12px;
}

.popup-footer {
    position: sticky;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.chat-participants-validation {
    font-size: 12px;
    color: deeppink;
    display: none;
    position: sticky;
    padding: 10px;
}

.show-error{
    display: block !important;
}

.message_type_MESSAGE { color: white; }
.message_type_JOINED, .message_type_ADDED { color: green; }
.message_type_LEFT, .message_type_REMOVED { color: red; }
.message_type_CONNECTED { color: darkgreen; }
.message_type_DISCONNECTED { color: darkred; }

.message_type_JOINED,
.message_type_LEFT,
.message_type_ADDED,
.message_type_REMOVED,
.message_type_CONNECTED,
.message_type_DISCONNECTED { font-style: italic; }