
#dm {
    display: flex;
    width: 90vw;
    height: 80vh;
    margin: 50px auto auto auto;
    box-shadow: 0px 0px 100px 2px var(--var-color-pink-4-trans);
}

#chats_cont {
    width: 25%;
    color: white;
    border-right: 3px dotted var(--var-color-barely);
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

#msgs_cont {
    width: 75%;
    color: white;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

h2 {
    margin: 0;
    padding: 10px;
    font-size: 18px;
    width: auto;
}

#chats, #msgs {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

.chat {
    border-radius: 20px;
    border: 1px dashed var(--var-color-barely);
    padding: 0;
    margin: 0 0 10px 0;
}

.selected {
    border: 1px solid var(--var-color-barely);
    background-color: #ae81ff20;
}

.chat_button {
    cursor: pointer;
    background: transparent;
    color: white;
    text-align: left;
    font-size: large;
    margin: 0 auto;
    border: none;
    border-bottom: 1px dashed var(--var-color-barely);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
}

.chat_name {

}

.chat_createdDate {
    float: right;
    font-size: small;
    color: gray;
}

.chat_members {
    padding: 10px;
}

.account_link {
    display: flex;
    align-items: center;
    gap: 2px;
    justify-content: center;
    text-decoration: none;
    font-size: small;
}

.account {
    padding: 3px;
    display: inline-block;
}

.account_image {
    display: inline;
    width: 20px;
    height: 20px;
    max-width: 20px;
    max-height: 20px;
    border-radius: 100%;
}

.account_userName {
    display: inline-flex;
    text-decoration: none;
    color: var(--var-color-cyan);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
    font-size: small;
}

.message {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: left;
    align-items: center;
    margin: 10px;
}

.message_date {
    color: white;
    font-size: small;
    opacity: 0.6;
  
}

#msgform {
    display: flex;
    gap: 5px;
    padding: 5px;
    border-top: 3px dotted var(--var-color-barely);
}

#msgform input {
    font-family: inherit;
    color: white;
    background-color: transparent;
    font-size: inherit;
    border: 1px dashed var(--var-color-pink-4-trans);
    display: block;
    padding: 10px;
    width: 100%;
}


#msgform input:focus {
    outline: 1px dashed var(--var-color-pink-4-trans); /* Custom outline */
}

#msgform input::placeholder {
    color: var(--var-color-pink-4-trans);
    opacity: 0.9;
}

#msgform button {
    color: white;
    padding: 3px;
    border: 1px dashed var(--var-color-pink-4-trans);
    background-color: transparent;
}