.container {
    margin-bottom: 400px;
}

#map {
    display: block;
    height: 400px;
    width: 500px;
    margin: 10px auto 0 auto;
}

.dataform_box {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
    min-width: 30vw;
}

.dataform {
    padding: 10px;
    margin: 10px;
}

.dataform_texts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 2px var(--var-color-pink-4-trans);
    padding: 20px;
    background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}



.dataform input, .dataform textarea {
    font-family: inherit;
    color: white;
    background-color: transparent;
    font-size: inherit;
    border: none;
    border-bottom: 1px dashed var(--var-color-pink-4-trans);
    display: block;
    padding: 10px;
}

.dataform input {
    width: 100%;
    box-sizing: border-box; /* Include padding and border in width calculations */
}

.dataform input:focus, .dataform textarea:focus {
  outline: 1px dashed var(--var-color-pink-4-trans); /* Custom outline */
}

.dataform ::placeholder {
    color: var(--var-color-pink-4-trans);
    opacity: 0.4;
}

textarea {
    height: 100px;
}

.dataform ::placeholder {
    color: rgb(114, 118, 122);
    opacity: 1;
}

button {
    display: block;
    cursor: pointer;
    text-decoration: none;
    font-weight: bolder;
    color: white;
    padding: 10px;
    font-size: larger;
    border: var(--var-color-border-gray) 1px solid;
    border-radius: 22px;
    margin: 0 2px;
    background-color: var(--var-color-bg-link);
    text-align: center;
    margin: 0 auto;
}

button:hover {
    background-color: transparent;
}

#image-preview {
    padding: 10px;
    border: 5px dotted var(--var-color-border-gray);
    margin-top: 10px;
    text-align: center;
}

#image-preview img {
    max-width: 100%;
    max-height: 400px;
    border-radius: 8px;
}

/* Hidden file input */
input[type="file"] {
    display: none;
}