.dataform {
    font-size: clamp(10px, 2vw, 30px);;
    border-radius: 20px;
    box-shadow: 0px 0px 100px 2px var(--var-color-pink-4-trans);
    margin: 30px auto;
    width: fit-content;
    padding: 40px;
}

.dataform th {
    font-size: inherit;
    text-align: right;
    color: var(--var-color-pink-4-trans);
    border-color: rgb(64, 68, 75);
    border-radius: 50px;
    width: fit-content;
}

.dataform input[type="text"], .dataform input[type="password"] {
    font-family: inherit;
    color: white;
    background-color: transparent;
    font-size: inherit;
    border: none;
    border-bottom: 1px dashed var(--var-color-pink-4-trans);
    display: block;
    padding: 10px;
}

.dataform input:focus {
  outline: 1px dashed var(--var-color-pink-4-trans); /* Custom outline */
}


.dataform ::placeholder {
    color: var(--var-color-pink-4-trans);
    opacity: 0.4;
}

.dataform button  {
    font-family: inherit;
    font-size: inherit;
    margin: 30px auto auto auto;
    display: block;
    width: fit-content;
    cursor: pointer;
    text-decoration: none;
    color: var(--var-color-white);
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid rgba(48, 25, 52, 1);
    background: linear-gradient(to bottom, rgba(48, 25, 52, 1), rgba(48, 25, 52, 0.3));
    transform: scaleX(1) scaleY(1);
    transition: transform 0.1s ease;
}

.dataform button:hover {
    transform: scaleY(1.1) scaleX(1.1);
}

.dataform button:active {
    background-color: #151515;
    box-shadow: 1px 1px 1px #303030;
    transform: translateX(2px) translateY(2px);
}

.dataform p {
    margin: 10px auto;
    display: block;
    text-align: center;
}