.dataform-tiny {
    font-size: 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 100px 2px var(--var-color-pink-4-trans);
    margin: 30px auto;
    width: fit-content;
    padding: 4px;
}

.dataform-tiny th {
    font-size: inherit;
    text-align: right;
    color: var(--var-color-pink-4-trans);
    border-color: rgb(64, 68, 75);
    border-radius: 50px;
    width: fit-content;
}

.dataform-tiny input {
    font-family: inherit;
    color: white;
    background-color: transparent;
    font-size: inherit;
    border: none;
    border-bottom: 1px dashed var(--var-color-pink-4-trans);
    display: block;
    padding: 10px;
}

.dataform-tiny input:focus {
  outline: 1px dashed var(--var-color-pink-4-trans); /* Custom outline */
}

.dataform-tiny ::placeholder {
    color: var(--var-color-pink-4-trans);
    opacity: 0.4;
}

.dataform-tiny button  {
    font-family: inherit;
    font-size: inherit;
    margin: 30px auto auto auto;
    display: block;
    width: fit-content;
    cursor: pointer;
    text-decoration: none;
    color: var(--var-color-white);
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid rgba(48, 25, 52, 1);
    background: linear-gradient(to bottom, rgba(48, 25, 52, 1), rgba(48, 25, 52, 0.3));
    transform: scaleX(1) scaleY(1);
    transition: transform 0.1s ease;
}

.dataform-tiny button:hover {
    transform: scaleX(1.1) scaleY(1.1);
}

.dataform-tiny button:active {
    transform: scaleX(1.2) scaleY(1.2);
}

.dataform-tiny p {
    margin: 10px auto;
    display: block;
    text-align: center;
}