#cont {
    width: 100vw;
    height: 100vh;
}

#home {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

canvas#aclock {
    border-radius: 50%;
    border: 2px solid var(--var-color-border-transwhite);
    background-color: var(--var-color-bg-sub1);
}

#clock {
    width: 400px;
    height: 400px;
    display: inline-block;
    bottom: 1px;
    color: var(--foreground-color);
    border: 2px solid var(--var-color-border-transwhite);
    background-color: var(--var-color-bg-sub1);
    padding: 8px;
    font-weight: bold;
    font-size: 19px;
    border-radius: 7px;
    margin-top: 5px;
}

