:root {
    --var-color-fg-white: #f8f8f2;
    --var-color-fg-post-white: #f8f8f2;
    --var-color-fg-post-username: #5ac0cc;
    --var-color-fg-post-title: #ae81ff;
    --var-color-fg-post-account: #2ecc71;
    --var-color-fg-post-address: #e2db74;
    --var-color-fg-post-email: #a2cc28;
    --var-color-fg-post-date: #7d7d7d;

    --var-color-bg-sub1: rgba(32, 33, 28);
    --var-color-bg-sub2: rgba(36, 37, 31);
    --var-color-bg-sub3: rgba(39, 40, 34);

    --var-color-bg-trans-sub1: rgba(0, 0, 0, 0.5);
    --var-color-bg-link: rgba(61, 89, 122, 0.372);

    --var-color-border-gray: #505050;
    --var-color-border-transwhite: rgba(255, 255, 255, 0.5);
}



html {
    color: var(--var-color-fg-post-white);
    background-image: url("/img/bg1.png");
    background-color: black;
    background-repeat: auto;
}


body {
    background-color: transparent;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

#navbar {
    padding: 5px;
    background-color: var(--var-color-bg-trans-sub1);
    height: fit-content;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar_left,
#navbar_right {
    display: flex;
    align-items: center;
    margin: 0;
    gap: 5px;
}

#navbar_right div {
    display: inherit;
    gap: inherit;
}

#navbar a {
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bolder;
    color: white;
    padding: 3px;
    border: var(--var-color-border-gray) 1px solid;
    border-radius: 2px;
    background-color: var(--var-color-bg-link);
}

#navbar a:hover {
    background-color: transparent;
}

h1,
h2 {
    text-align: center;
    text-decoration: double;
    border-bottom: 3px var(--var-color-border-transwhite) dotted;
    margin: 10px auto;
    width: 100%;
    padding: 0px;
}

h2 {
    text-align: left !important;
}

.onlybuns_link {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    font-weight: bolder;
    color: white;
    padding: 3px;
    font-size: larger;
    border: var(--var-color-border-gray) 1px solid;
    border-radius: 2px;
    margin: 0 3px;
    background-color: var(--var-color-bg-link);
}

.onlybuns_link:hover {
    background-color: transparent;
}

.onlybuns_link_block {
    display: block;
    width: fit-content;
    margin: 10px;
}


.onlybuns_account {
    display: inline-block;
}

.onlybuns_account_link {
    display: flex !important;
    gap: 2px !important;
    align-items: center !important;
    justify-content: center !important;
    text-decoration: none !important;
}

.onlybuns_avatar {
    display: inline;
    width: 20px;
    height: 20px;
    max-width: 20px;
    max-height: 20px;
    border-radius: 100%;
}

.onlybuns_username {
    display: inline-flex;
    text-decoration: none;
    color: var(--var-color-fg-post-username);
    overflow-wrap: break-word;
    word-break: break-word;
}

/* morph status text */
#p_status {
    filter: url(#threshold) blur(0.6px);
}