:root {
    --var-color-white: #f8f8f2;
    --var-color-cyan: #5ac0cc;
    --var-color-purple: #ae81ff;
    --var-color-green: #2ecc71;
    --var-color-yellow: #e2db74;
    --var-color-lime: #a2cc28;
    --var-color-gray: #7d7d7d;

    --var-color-bg-sub1: rgba(0, 0, 0, 0.2);
    --var-color-bg-sub2: rgba(0, 0, 0, 0.5);
    --var-color-bg-sub3: rgba(0, 0, 0, 0.9);

    --var-color-bg-sub1: rgba(0, 0, 0, 0.5);
    --var-color-bg-link: rgba(61, 89, 122, 0.372);

    --var-color-border-gray: #505050;
    --var-color-border-transwhite: rgba(255, 255, 255, 0.5);

    --var-color-pink-1: #ff92ee;
    --var-color-pink-2: #fa6cff;
    --var-color-pink-3: #d81dc4;
    --var-color-pink-4: #ae81ff;

    --var-color-pink-1-trans: #ff92ee80;
    --var-color-pink-2-trans: #fa6cff80;
    --var-color-pink-3-trans: #d81dc480;
    --var-color-pink-4-trans: #ae81ff80;

    --var-color-darkpurple: #180044;
    --var-color-darkpurple-trans: #18004480;
}

html {
    color: var(--var-color-white);
    background-image: url("/img/bg1.png");
    background-color: black;
    background-repeat: auto;
}


body {
    background-color: transparent;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}


/* NAVBAR */
#navbar {
    padding: 0 5px;
    height: fit-content;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar_left,
#navbar_right {
    display: flex;
    align-items: center;
    margin: 0;
    gap: 5px;
}

#navbar_right div {
    display: inherit;
    gap: inherit;
}


#navbar a {
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bolder;
    color: var(--var-color-white);
    padding: 5px 10px;
    border-radius: 0 0 20px 20px;
    border-bottom: 1px solid rgba(48, 25, 52, 1);
    background: linear-gradient(to bottom, var(--var-color-darkpurple), var(--var-color-darkpurple-trans));
    transition: background 0.5s ease; /* Smooth transition effect */
}

#navbar a:hover {
    background: linear-gradient(to bottom, var(--var-color-darkpurple-trans),  var(--var-color-darkpurple));
}



.blurred-box {
    background: rgba(0, 0, 0, 0.05); /* Semi-transparent white */
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}


h1,
h2 {
    text-align: center;
    text-decoration: double;
    border-bottom: 3px var(--var-color-border-transwhite) dotted;
    margin: 10px auto;
    width: 100%;
    padding: 0px;
}

h2 {
    text-align: left !important;
}

.onlybuns_account {
    display: inline-block;
}

.onlybuns_account_link {
    display: flex !important;
    gap: 2px !important;
    align-items: center !important;
    justify-content: center !important;
    text-decoration: none !important;
}

.onlybuns_avatar {
    display: inline;
    width: 20px;
    height: 20px;
    max-width: 20px;
    max-height: 20px;
    border-radius: 100%;
}

.onlybuns_username {
    display: inline-flex;
    text-decoration: none;
    color: var(--var-color-cyan);
    overflow-wrap: break-word;
    word-break: break-word;
}

/* morph status text */
#p_status {
    filter: url(#threshold) blur(0.6px);
}
