html {
    color: white;
    background-image: url("/img/bg1.png");
    background-color: black;
    background-repeat: auto;
    font-size: 20px;
    font-family: monospace;
}

body {
    background-color: transparent;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

* {
    color: white;
    background-color: transparent;
}

#navbar {
    background-color: rgba(1, 1, 1, 0.5);
    height: fit-content;
    margin: 0;
    padding: 0;
    display: flex; /* Use Flexbox for layout */
    justify-content: space-between; /* Space between left and right */
    align-items: center; /* Vertically center items */
}

#navbar a:hover {
    background-color: transparent;
}

#navbar_left, #navbar_right {
    display: flex; /* Ensure these are flex containers */
    align-items: center; /* Center align items vertically */
    margin: 0;
    padding: 10px;
}

#navbar a {
    text-decoration: none;
    font-weight: bolder;
    color: white;
    padding: 3px;
    font-size: larger;
    border: #505050 1px solid;
    border-radius: 2px;
    margin: 0 3px;
    background-color: rgba(61, 89, 122, 0.372);
}


h1 {
    text-align: center;
    text-decoration: double;
    border-bottom: 3px rgba(255, 255, 255, 0.5) dotted;
    margin: 10px auto;
    width: 90%;
}

h2 {
    text-align: center;
    border-bottom: 5px white solid;
    margin: 10px auto;
    border-radius: 30px;
    width: fit-content;
    padding: 10px 30px;
}