#popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 40vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#popup_text {
    display: block;
    border: 1px solid var(--var-color-border-transwhite);
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    background-color: rgba(0, 10, 100, 0.9);
    color: yellow;
    font-weight: bolder;
    width: fit-content;
    border-radius: 30px;
}
