.post {
    display: inline-block;
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
    border: 1px solid var(--var-color-border-transwhite);
    border-radius: 5px;
    background-color: var(--var-color-bg-trans-sub1);
    padding: 2px;
    margin: 3px;
    overflow: hidden;
    overflow-wrap: anywhere;
}

.post_account {
    text-decoration: none;
    padding: 3px;
    float: left;
    display: block;
    margin: 0 3px 3px 0px;
    background-color: var(--var-color-bg-trans-sub1);
    border: 1px solid var(--var-color-border-transwhite);
    border-radius: 5px;
}

.post_account_image {
    width: 32px;
    height: 32px;
    max-width: 32px;
    max-height: 32px;
    border-radius: 100%;
    margin: 0 auto;
    text-align: center;
}

.post_account_userName {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #5ac0cc;
    overflow-wrap: break-word;
    word-break: break-word;
    font-weight: 700;
    font-size: 13px;
    font-family: sans-serif;
}

.post_title {
    font-size: medium;
    display: block;
    color: var(--var-color-fg-post-title);
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.post_text {
    display: inline;
    font-size: small;
    color: var(--var-color-fg-post-white);
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.post_picture {
    width: 100px;
    height: auto;
}