.post {
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 3px;
    margin: 10px;
    display: inline-block;
    width: 300px;
    height: 300px;
}

.post_head {
    margin: 3px;
    padding: 3px;

}

.post_body {

}

.post_account {
    float: right;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #5ac0cc;
    overflow-wrap: break-word;
    word-break: break-word;
    font-weight: 700;
    font-size: 13px;
    font-family: sans-serif;
}

.post_title {
    font-size: x-large;
    text-decoration: 1px dashed none;
}

.post_text {
    font-size: small;
    color: orange;
    padding: 3px;
    margin: 3px;
}