.post {
    border: 1px solid var(--var-color-border-transwhite);
    border-radius: 5px;
    background-color: rgb(0, 0, 0, 0.3);
    padding: 2px;
    margin: 3px;
    overflow: hidden;
    overflow-wrap: anywhere;
}

.post_picture {
    width: 300px;
    height: auto;
}