.searchform {
    border-radius: 30px;
    border: solid rgb(64, 68, 75) 1px;
    background-color: transparent;
    margin: 30px auto;
    width: fit-content;
    padding: 10px 30px;
}

.searchform input[type="text"], .searchform input[type="password"] {
    color: white;
    background-color: rgba(64, 68, 75, 0.4);
    font-size: 20px;
    border-style: solid;
    border-width: thick;
    border-color: rgb(64, 68, 75);
    border-radius: 25px;
    display: inline;
    margin: 9px auto;
    padding: 10px;
}

.searchform ::placeholder {
    color: rgb(114, 118, 122);
    opacity: 1;
}

.searchform button {
    display: inline;
    color: rgb(218, 219, 220);
    background-color: rgb(54, 57, 63);
    border-width: 0px;
    font-size: 20px;
    margin: 3px auto;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    cursor: pointer;
    box-shadow: 3px 3px 3px #616161;
}

.searchform button:active {
    background-color: #151515;
    box-shadow: 1px 1px 1px #616161;
    transform: translateX(2px) translateY(2px);
}

.searchform p {
    margin: 10px auto;
    display: block;
    text-align: center;
}