<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <!-- MAIN -->
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/main.css">

    <title>OnlyBuns - Account</title>
    <link rel="stylesheet" href="/css/account.css">
    <link rel="stylesheet" href="/css/popup.css">

    <link rel="stylesheet" href="/css/animations/rainbow_h1.css">
    <link rel="stylesheet" href="/css/animations/blur_appear.css">

    <script defer type="text/javascript" src="/js/popup.js"></script>
</head>

<body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <input type="hidden" id="account_id" th:value="${account_id}" />

    <div th:if="${account != null}" id="account">
        <div id="account_image">
            <img th:src="${account.avatar}" id="account_avatar">
        </div>

        <div class="account_info appear">
            <span>
                <div id="account_names">
                    <span id="account_roles"></span>
                    <span>👤</span>
                    <span th:text="${account.firstName}" id="account_firstName"></span>
                    <span th:text="${account.lastName}" id="account_lastName"></span>
                    <span>(</span><span th:text="${account.userName}" id="account_userName"></span><span>)</span>
                </div>
    
                <div>
                    <span>📧</span>
                    <span id="account_email" th:text="${account.email}"></span>
                </div>
    
                <div>
                    <div>
                        <span>📍</span>
                        <span id="account_address" th:text="${account.address}"></span>
                    </div>
                    <div>
                        <span>🗣</span>
                        <span id="account_bio" th:text="${account.bio}"></span>
                    </div>
                </div>

                <div id="account_counters">
                    <span class="account_counter" id="account_postsCount">
                        <div class="account_counters_number" th:text="${account.postsCount}"></div>
                        <div class="account_counters_label">📰 Posts</div>
                    </span>
        
                    <span class="account_counter" id="account_likesCount">
                        <div class="account_counters_number" th:text="${account.likesCount}"></div>
                        <div class="account_counters_label">💗 Likes</div>
                    </span>
        
                    <span class="account_counter" id="account_followersCount">
                        <div class="account_counters_number" th:text="${account.followersCount}"></div>
                        <div class="account_counters_label">🙇 Followers</div>
                    </span>
        
                    <span class="account_counter" id="account_followingCount">
                        <div class="account_counters_number" th:text="${account.followingCount}"></div>
                        <div class="account_counters_label">🧎 Following</div>
                    </span>
                </div>
    
                <div th:if="${!account.isMyAccount}" id="account_buttons">
                    <button class="account_button"
                        id="btn_follow"
                        th:classappend="${account.isFollowing} ? 'following' : ''"
                        th:text="${account.isFollowing ? '✅ Following' : '➕ Follow'}"
                        th:onclick="'follow(' + ${account.id} + ');'" title="Follow">
                    </button>
        
                    <button class="account_button" id="btn_message" th:onclick="'message(' + ${account.id} + ');'" title="Message">📨 Message</button>
        
                    <script defer type="text/javascript" src="/js/account.js"></script>
                </div>

                <div id="account_created">
                    <span>📅</span>
                    <span th:text="${account.createdDateStr}"></span>
                </div>
            </span>
        </div>
    </div>

    <div class="tab-container">
        <div id="tab_posts" class="tab active" 
             th:data-url="${request.requestURL + '/posts'}" 
             th:onclick="'navigateIframe(this.dataset.url, this);'">Posts</div>
        <div id="tab_followers" class="tab" 
             th:data-url="${request.requestURL + '/followers'}" 
             th:onclick="'navigateIframe(this.dataset.url, this);'">Followers</div>
        <div id="tab_following" class="tab" 
             th:data-url="${request.requestURL + '/following'}" 
             th:onclick="'navigateIframe(this.dataset.url, this);'">Following</div>
    </div>

    <iframe id="account_iframe" th:src="${request.requestURL + '/posts'}"></iframe>

    <script>
        function navigateIframe(url, tabElement) {
            // Change iframe src
            document.getElementById('account_iframe').src = url;

            // Update active tab
            const tabs = document.querySelectorAll('.tab');
            tabs.forEach(tab => tab.classList.remove('active'));
            tabElement.classList.add('active');
        }
    </script>

    <script>
        function resizeIframeToFitContent(iframe) {iframe.style.height = iframe.contentWindow.document.body.scrollHeight + "px";}
        const iframe = document.getElementById('account_iframe');
        iframe.onload = function () {resizeIframeToFitContent(iframe);};
    </script>

    <div th:replace="~{fragments/popup :: popup}"></div>
</body>

</html>
