<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <!-- MAIN -->
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="/img/favicon.png">
        <link rel="stylesheet" href="/css/main.css">

        <title>OnlyBuns - Account</title>
        <link rel="stylesheet" href="/css/account.css">
    </head>
    <body>
        <div id="navbar"></div>

        <input type="hidden" id="account_id" th:value="${account_id}"/>

        <div id="account">
            <div id="account_image">
                <img id="account_avatar" src="/avatars/default.jpg">
            </div>
            <table>
                <tr><th>EMAIL:</th><td         id="account_email">...</td></tr>
                <tr><th>USERNAME:</th><td      id="account_userName">...</td></tr>
                <tr><th>FIRST NAME:</th><td    id="account_firstName">...</td></tr>
                <tr><th>LAST NAME:</th><td     id="account_lastName">...</td></tr>
                <tr><th>ADDRESS:</th><td       id="account_address">...</td></tr>
                <tr><th>BIO:</th><td           id="account_bio">...</td></tr>
                <tr><th>ACCOUNT ROLE:</th><td  id="account_accountRole">...</td></tr>
            </table>
        </div>

        <script type="text/javascript" src="/js/navbar.js"></script>
        <script type="text/javascript" src="/js/account.js"></script>
    </body>
</html>


