<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <!-- MAIN -->
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/main.css">

    <title>OnlyBuns - Account</title>
    <link rel="stylesheet" href="/css/account.css">

    <link rel="stylesheet" href="/css/animations/rainbow_h1.css">
    <link rel="stylesheet" href="/css/animations/blur_appear.css">

    <script defer type="text/javascript" src="/js/account.js"></script>
</head>

<body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <input type="hidden" id="account_id" th:value="${account_id}" />

    <div th:if="${account != null}" id="account">
        <div id="account_image">
            <img th:src="${account.avatar}" id="account_avatar">
        </div>

        <div class="appear" id="account_info">
            <div id="account_names">
                <span id="account_roles"></span>
                <span>👤</span>
                <span th:text="${account.firstName}" id="account_firstName"></span>
                <span th:text="${account.lastName}" id="account_lastName"></span>
                <span>(</span><span th:text="${account.userName}" id="account_userName"></span><span>)</span>
            </div>

            <div>
                <span>📧</span>
                <span id="account_email" th:text="${account.email}"></span>
            </div>

            <div>
                <div>
                    <span>📍</span>
                    <span id="account_address" th:text="${account.address}"></span>
                </div>
                <div>
                    <span>🗣</span>
                    <span id="account_bio" th:text="${account.bio}"></span>
                </div>
            </div>

            <table id="account_counters_table">
                <tr>
                    <th><span>📰 Posts</span></th>
                    <th><span>💗 Likes</span></th>
                    <th><span>🙇 Followers</span></th>
                    <th><span>🧎 Following</span></th>
                </tr>
                <tr>
                    <td><span id="account_postsCount" th:text="${account.postsCount}"></span></td>
                    <td><span id="account_likesCount" th:text="${account.likesCount}"></span></td>
                    <td><span id="account_followersCount" th:text="${account.followersCount}"></span></td>
                    <td><span id="account_followingCount" th:text="${account.followingCount}"></span></td>
                </tr>
            </table>

            <div id="account_buttons">
                <button id="btn_follow"
                    th:classappend="${account.following} ? 'following' : ''"
                    th:text="${account.following ? '✅ Following' : '➕ Follow'}"
                    th:onclick="'follow(' + ${account.id} + ');'" title="Follow">
                </button>

                <button id="btn_message" th:onclick="'message(' + ${account.id} + ');'" title="Message">📨 Message</button>
            </div>

            <div id="account_created">
                <span>📅</span>
                <span th:text="${account.createdDateStr}"></span>
            </div>
        </div>

    </div>

    <div class="tab-container">
        <div class="tab active" 
             th:data-url="${request.requestURL + '/posts'}" 
             th:onclick="'navigateIframe(this.dataset.url, this);'">Posts</div>
        <div class="tab" 
             th:data-url="${request.requestURL + '/followers'}" 
             th:onclick="'navigateIframe(this.dataset.url, this);'">Followers</div>
        <div class="tab" 
             th:data-url="${request.requestURL + '/following'}" 
             th:onclick="'navigateIframe(this.dataset.url, this);'">Following</div>
    </div>

    <iframe id="account_iframe" th:src="${request.requestURL + '/posts'}"></iframe>

    <script>
        function navigateIframe(url, tabElement) {
            // Change iframe src
            document.getElementById('account_iframe').src = url;

            // Update active tab
            const tabs = document.querySelectorAll('.tab');
            tabs.forEach(tab => tab.classList.remove('active'));
            tabElement.classList.add('active');
        }
    </script>

    <script>
        function resizeIframeToFitContent(iframe) {iframe.style.height = iframe.contentWindow.document.body.scrollHeight + "px";}
        const iframe = document.getElementById('account_iframe');
        iframe.onload = function () {resizeIframeToFitContent(iframe);};
    </script>
</body>

</html>
