<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <!-- MAIN -->
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/main.css">

    <title>OnlyBuns - Admin - Analytics</title>
    <link rel="stylesheet" href="/css/admin_analytics.css">
    
    <link rel="stylesheet" href="/css/animations/rainbow_h1.css">

    <script type="text/javascript" src="/js/iframe_init.js"></script>
</head>

<body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <h1>📊 Analytics 🧑‍🔬️</h1>

</body>

</html>
