<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/main.css">

    <title>OnlyBuns - Chat</title>
    <link rel="stylesheet" href="/css/chats.css">

    <link rel="stylesheet" href="/css/animations/rainbow_h1.css">

    <script src="/js/sockjs-client.js"></script>
    <script src="/js/stomp.min.js"></script>

    <script defer type="text/javascript" src="/js/chats.js"></script>

    <link rel="stylesheet" href="/css/popup.css">
</head>

<body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <input type="hidden" id="user_userName" th:value="${user_userName}" />

    <div id="dm">
        <div id="chats_cont">
            <h2>💬 Chats:</h2>
            <div id="chats">
                <div th:each="chat : ${chats}" th:classappend="${chat.id == id} ? 'selected'" class="chat">
                    <a class="chat_button" th:href="@{/chats/{id}(id=${chat.id})}">
                        <span class="chat_name" th:title="${chat.name}" th:text="${chat.name}"></span>
                        <span class="chat_createdDate" th:text="${chat.createdDateStr}"
                            th:title="${chat.createdDateStr}"></span>
                    </a>

                    <div class="chat_members">
                        <div th:each="account : ${chat.members}" class="account" th:title="${account.userName}">
                            <a class="account_link" th:href="@{/accounts/{id}(id=${account.id})}" target="_top">
                                <img class="account_image" th:src="${account.avatar}" />
                                <span class="account_userName" th:text="${account.userName}"></span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div th:if="${messages != null}" id="msgs_cont">

            <input type="hidden" id="chat_id" th:value="${chat.id}" />

            <h2>📜 Messages:</h2>
            <div id="msgs">
                <div th:each="message : ${messages}" class="message">
                    <div class="message_date" th:text="${message.createdDateStr}"></div>
                    <div>|</div>
                    <div class="message_account">
                        <a class="account_link" th:href="@{/accounts/{id}(id=${message.account.id})}" target="_top">
                            <img class="account_image" th:src="${message.account.avatar}" />
                            <span class="account_userName" th:text="${message.account.userName}"></span>
                        </a>
                    </div>
                    <div>:</div>
                    <div class="message_content" th:text="${message.content}"
                        th:classappend="'message_type_' + ${message.type}">
                    </div>

                </div>

                <script defer>
                    window.addEventListener('load', () => {
                        const msgsContainer = document.getElementById("msgs");
                        requestAnimationFrame(() => {
                            msgsContainer.scrollTop = msgsContainer.scrollHeight;
                        });
                    });
                </script>
            </div>
            <div>
                <form id="msgform" th:onsubmit="'sendMessage(event, ' + ${id} + ')'">
                    <input id="txt_text" type="text" placeholder="Type your message..." required />
                    <button type="submit">🚀 Send</button>
                </form>

                <script defer>
                    let txt_text = document.getElementById("txt_text");
                    txt_text.focus();
                    txt_text.select();
                </script>
            </div>
        </div>

        <div th:if="${chat != null}" id="info_cont">
            <h2>📢 Chat Info:</h2>

            <div id="info">
                <div id="info_members">
                    <div th:each="account : ${chat.members}" class="info_members_account" th:title="${account.userName}">
                        <a class="account_link" th:href="@{/accounts/{id}(id=${account.id})}" target="_top">
                            <img class="account_image" th:src="${account.avatar}" />
                            <span class="account_userName" th:text="${account.userName}"></span>
                            <span th:if="${account.isAdmin}" class="account_isAdmin" title="Admin">👑</span>
                        </a>
                    </div>
                </div>
                <div th:if="${chat.isMyChat}" id="chat_controls">
                    <button id="btn_addAccount" onclick="addAccount_popup()">➕ Add Account</button>
    
                    <div id="addAccount_popup" class="popup" style="display: none;">
                        <div id="accounts">
                            <div th:each="account : ${following}" class="info_members_account" th:title="${account.userName}">
                                <a class="account_link" th:href="|/chats/${chat.id}/add/${account.id}|" target="_top">
                                    <img class="account_image" th:src="${account.avatar}" />
                                    <span class="account_userName" th:text="${account.userName}"></span>
                                    <span th:if="${account.isAdmin}" class="account_isAdmin" title="Admin">👑</span>
                                </a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
