<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
  <!-- MAIN -->
  <meta charset="UTF-8">
  <link rel="icon" type="image/x-icon" href="/img/favicon.png">
  <link rel="stylesheet" href="/css/main.css">

  <title>Create Post</title>
  <link rel="stylesheet" href="/css/register.css">
  <link rel="stylesheet" href="/css/createpost.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <link rel="stylesheet" href="/css/map.css" />

</head>
<body>
<div id="navbar"></div>

<h1>📸 Create Post 📸</h1>
<div class="dataform" id="form_register">
  <table>
    <tr>
      <th>TITLE:</th>
      <td><input class="txtfld" type="text" id="txt_title" placeholder="title"/></td>
    </tr>
    <tr>
      <th>DESCRIPTION:</th>
      <td><input class="txtfld" type="text" id="txt_description" placeholder="description"/></td>
    </tr>
    <!--<tr>
      <th>IMAGE:</th>
      <td>
        <input type="file" id="file_image" accept="image/*"/>
      </td>
    </tr>-->
    <tr>
      <th>LOCATION:</th>
      <td>
        <input class="txtfld" type="text" id="txt_location" placeholder="Enter location or address"/>
      </td>
    </tr>
  </table>
  <button id="btn_createpost">CREATE POST</button>
  <p id="p_status">...</p>
</div>

<div id="map"></div>


<script type="text/javascript" src="/js/navbar.js"></script>
<script type="text/javascript" src="/js/createpost.js"></script>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script type="text/javascript" src="/js/map.js"></script> <!-- Uključi map.js -->

</body>
</html>
