<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <!-- MAIN -->
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
        <link rel="stylesheet" href="/css/main.css">

        <title>FORBIDDEN</title>
        <link rel="stylesheet" href="/css/manage.css">
    </head>

    <body>
        <ul id="navbar"></ul>
        <h1>403 FORBIDDEN</h1>
  
        
        <script type="text/javascript" src="/js/navbar.js"></script>
      </body>
</html>