<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <!-- MAIN -->
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/main.css">

    <title>OnlyBuns - Home</title>
    <link rel="stylesheet" href="css/index.css">
    
    <!-- <script defer type="text/javascript" src="/js/cursoreffect.js"></script> -->
    <script defer type="text/javascript" src="/js/p5.min.js"></script>
    <script defer type="text/javascript" src="/js/p5.sound.min.js"></script>
    <script defer type="text/javascript" src="/js/clock.js"></script>

    <link rel="stylesheet" href="/css/animations/rays.css">
    <script defer type="text/javascript" src="/js/gsap.min.js"></script>
    <script defer type="text/javascript" src="/js/rays.js"></script>
</head>

<body>
    <div id="cont">
        <div th:replace="~{fragments/navbar :: navbar}"></div>

        <h1 id="rays">🐇 OnlyBuns 🐰</h1>
    
        <div id="home">
            <div id="clock_cont">
                <div id="clock_box"></div>
            </div>
        
            <div>
                <div id="links">
                    <a class="onlybuns_link onlybuns_link_block" href="/">🏠 Home</a>
                    <a class="onlybuns_link onlybuns_link_block" href="/posts">🧭 Explore</a>
                </div>
            
                <div id="links" th:if="${user != null}">
                    <a class="onlybuns_link onlybuns_link_block" href="/fyp">🫵 For You</a>
                    <a class="onlybuns_link onlybuns_link_block" href="/map">🗺️ View Map</a>
                    <a class="onlybuns_link onlybuns_link_block" href="/create">➕ Create Post</a>
                    <a class="onlybuns_link onlybuns_link_block" href="/chat">💬 Chat</a>
                    <a class="onlybuns_link onlybuns_link_block" href="/trends">📈 Trends</a>

                    <a class="onlybuns_link onlybuns_link_block" href="/user">👤 My Account</a>
                    <a class="onlybuns_link onlybuns_link_block" href="/user/update">⚙️ My Account - Update</a>
                    <a class="onlybuns_link onlybuns_link_block" href="/logout">🚪 Log out</a>
            
                    <div th:if="${user.isAdmin}">
                        <a class="onlybuns_link onlybuns_link_block" href="/admin/accounts">👥 Accounts</a>
                        <a class="onlybuns_link onlybuns_link_block" href="/admin/manage">🛠️ Management</a>
                    </div>
                </div>
            
                <div th:if="${user == null}">
                    <a class="onlybuns_link onlybuns_link_block" href="/login">🔑 Log in</a>
                    <a class="onlybuns_link onlybuns_link_block" href="/register">📝 Register</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
