<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <!-- MAIN -->
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/main.css">

    <title>OnlyBuns - Log In</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/dataform.css">

    <link rel="stylesheet" href="/css/animations/rainbow_h1.css">
    <link rel="stylesheet" href="/css/animations/titleword.css">

    <script defer type="text/javascript" src="/js/morph.js"></script>
</head>

<body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <h1>🔑 Log In 🔑</h1>

    <div class="dataform" id="form_login">
        <table>
            <tr>
                <th><span class="title-word title-word-1">📧 EMAIL</span><span class="title-word title-word-2">/</span><span class="title-word title-word-3">👤 USERNAME:</span></th>
                <td><input type="text" id="txt_email" placeholder="email / username" /></td>
            </tr>
            <tr>
                <th><span class="title-word title-word-4">🤐 PASSWORD:</span></th>
                <td><input type="text" id="txt_password" placeholder="password" /></td>
            </tr>
        </table>
        <button id="btn_login" onclick="login()">🔑 Log In</button>
    </div>
    <div id="p_status"></div>


    <script defer>
        let txt_email = document.getElementById("txt_email");
        let txt_password = document.getElementById("txt_password");
        let p_status = document.getElementById("p_status");
        txt_email.addEventListener("keydown", function (event) {if (event.key == 'Enter') { txt_password.focus(); } }, false);
        txt_password.addEventListener("keydown", function (event) {if (event.key == 'Enter') {login();} }, false);

        async function login() {
            morph(p_status, "", "Logging in...");

            const response = await fetch('/api/login', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({email: txt_email.value, password: txt_password.value})
            });

            const text = await response.text();
            morph(p_status, "Logging in...", text);

            if (response.ok) {
                window.location.href = "user";
            }
        }

        txt_email.focus();
        txt_email.select();
    </script>
</body>
</html>
