<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <!-- MAIN -->
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="/img/favicon.png">
        <link rel="stylesheet" href="/css/main.css">

        <title>OnlyBuns - Log In</title>
        <link rel="stylesheet" href="/css/login.css">
        <link rel="stylesheet" href="/css/dataform.css">
    </head>
    <body>
        <div id="navbar"></div>

        <h1>🔑 Log In 🔑</h1>

        <div class="dataform" id="form_login">
            <table>
                <tr><th>EMAIL / USERNAME:</th><td><input type="text" id="txt_email" placeholder="email / username"/></td></tr>
                <tr><th>PASSWORD:</th><td><input         type="text" id="txt_password" placeholder="password"/></td></tr>
            </table>
            <button id="btn_login">LOG IN</button>
            <p id="p_status">...</p>
        </div>

        <script type="text/javascript" src="/js/navbar.js"></script>
        <script type="text/javascript" src="/js/login.js"></script>
    </body>
</html>