<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <!-- MAIN -->
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
        <link rel="stylesheet" href="/css/main.css">

        <title>MANAGE</title>
        <link rel="stylesheet" href="/css/manage.css">

        <script defer type="text/javascript" src="/js/main.js"></script>
        <script defer type="text/javascript" src="/js/navbar.js"></script>
    </head>

    <body>
        <ul id="navbar"></ul>

        <h1>MANAGE </h1>
        <a class="adminBtn" href="/admin/adminallaccounts" >ALL ACCOUNTS</a>
    </body>
</html>