<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="/img/favicon.png">
        <link rel="stylesheet" href="/css/main.css">

        <title>OnlyBuns - Posts</title>
        <link rel="stylesheet" href="/css/posts.css">
        <link rel="stylesheet" href="/css/popup.css">
    </head>
    <body>
        <div class="popup" id="popup" style="display: none;">
            <p id="popup_text"></p>
        </div>

        <div id="navbar"></div>
        
        <h1>📰 Posts 📰</h1>

        <div id="sort_controls">
            <label for="sortOptions">Sort by:</label>
            <select id="sortOptions" onchange="load_posts()">
                <option value="id,asc">ID Ascending</option>
                <option value="id,desc">ID Descending</option>
                <option value="title,asc">Title Ascending</option>
                <option value="title,desc">Title Descending</option>
            </select>
        </div>

        <div id="posts"></div>

        <script type="text/javascript" src="/js/popup.js"></script>
        <script type="text/javascript" src="/js/navbar.js"></script>
        <script type="text/javascript" src="/js/post_actions.js"></script>
        <script type="text/javascript" src="/js/posts.js"></script>
    </body>
</html>