<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/main.css">
    <title>OnlyBuns - Post</title>

    <link rel="stylesheet" href="/css/posts.css">
    <link rel="stylesheet" href="/css/commentform.css">
    <link rel="stylesheet" href="/css/advertisingmodal.css">
    <link rel="stylesheet" href="/css/popup.css">

    <link rel="stylesheet" href="/css/animations/rainbow_h1.css">
    <link rel="stylesheet" href="/css/animations/button-92.css">

    <script defer type="text/javascript" src="/js/popup.js"></script>
    <script defer type="text/javascript" src="/js/actions.js"></script>
</head>

<body>
    <input type="hidden" id="post_id" th:value="${post_id}" />

    <div th:replace="~{fragments/navbar :: navbar}"></div>


    <div th:if="${posts != null and posts.size() > 0 and posts[0].parentPostId != null}" style="margin-left: 20px">
        <a id="parent"
        class="button-92"
        th:href="@{/posts/{id}(id=${posts[0].parentPostId})}">🔝 Parent Post</a>
    </div>

    <div th:replace="~{fragments/thread :: thread}"></div>

    <div th:replace="~{fragments/commentForm :: commentForm}"></div>
    <div th:replace="~{fragments/advertisingModal :: advertisingModal}"></div>
    <div th:replace="~{fragments/popup :: popup}"></div>
</body>

</html>
