<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <title>OnlyBuns - Explore</title>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/posts.css">
    <link rel="stylesheet" href="/css/commentform.css">
    <link rel="stylesheet" href="/css/popup.css">

    <link rel="stylesheet" href="/css/animations/rainbow_h1.css">

    <script defer type="text/javascript" src="/js/popup.js"></script>
    <script defer type="text/javascript" src="/js/actions.js"></script>
</head>

<body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <h1>🧭 Explore 🧭</h1>

    <div th:replace="~{fragments/parentPostsControl :: parentPostsControl}"></div>

    <div th:replace="~{fragments/commentForm :: commentForm}"></div>
    <div th:replace="~{fragments/popup :: popup}"></div>
</body>

</html>
