<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <title>OnlyBuns - Register</title>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/dataform.css">

    <link rel="stylesheet" href="/css/animations/rainbow_h1.css">
    <link rel="stylesheet" href="/css/animations/titleword.css">

    <script defer type="text/javascript" src="/js/morph.js"></script>
</head>

<body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <h1>📝 Register 📝</h1>
    <div class="dataform" id="form_register">
        <table>
            <tr>
                <th class="title-word title-word-1">📧 EMAIL:</th>
                <td><input class="txtfld" type="text" id="txt_email" placeholder="email" /></td>
            </tr>
            <tr>
                <th class="title-word title-word-2">👤 USERNAME:</th>
                <td><input class="txtfld" type="text" id="txt_userName" placeholder="username" /></td>
            </tr>
            <tr>
                <th class="title-word title-word-3">🤐 PASSWORD:</th>
                <td><input class="txtfld" type="text" id="txt_password" placeholder="password" /></td>
            </tr>
            <tr>
                <th class="title-word title-word-3">🤐 REPEAT PASSWORD:</th>
                <td><input class="txtfld" type="text" id="txt_password_repeat" placeholder="repeat password" /></td>
            </tr>
            <tr>
                <th class="title-word title-word-4">✍️ FIRST NAME:</th>
                <td><input class="txtfld" type="text" id="txt_firstName" placeholder="first name" /></td>
            </tr>
            <tr>
                <th class="title-word title-word-4">✍️ LAST NAME:</th>
                <td><input class="txtfld" type="text" id="txt_lastName" placeholder="last name" /></td>
            </tr>
            <tr>
                <th class="title-word title-word-1">📍 ADDRESS:</th>
                <td><input class="txtfld" type="text" id="txt_address" placeholder="address" /></td>
            </tr>
        </table>
        <button id="btn_register" onclick="register()">📝 Register</button>
    </div>
    <div id="p_status"><div>

    <script>
        async function register() {

            let p_status = document.getElementById("p_status");
            morph(p_status, "", "Registering...");

            let txt_email = document.getElementById("txt_email");
            let txt_userName = document.getElementById("txt_userName");
            let txt_password = document.getElementById("txt_password");
            let txt_password_repeat = document.getElementById("txt_password_repeat");
            let txt_firstName = document.getElementById("txt_firstName");
            let txt_lastName = document.getElementById("txt_lastName");
            let txt_address = document.getElementById("txt_address");

            if (txt_password.value != txt_password_repeat.value) {
                p_status.innerHTML = "Passwords don't match";
                return;
            }

            const response = await fetch('/api/register', {

                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }

                ,
                body: JSON.stringify({
                    email: txt_email.value,
                    userName: txt_userName.value,
                    password: txt_password.value,
                    firstName: txt_firstName.value,
                    lastName: txt_lastName.value,
                    address: txt_address.value,
                })
            });

            const text = await response.text();
            morph(p_status, "Registering...", text);
        }
    </script>
</body>

</html>
