<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <!-- MAIN -->
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/main.css">

    <title>OnlyBuns - Trends</title>
    <link rel="stylesheet" href="/css/trends.css">
    
    <link rel="stylesheet" href="/css/animations/rainbow_h1.css">

    <script type="text/javascript" src="/js/iframe_init.js"></script>
</head>

<body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <h1>📈 Trends 📈</h1>

    <iframe id="weekly" src="/trends/weekly" onload="iframe_init(this)" title="weekly posts"></iframe> 
    <iframe id="top" src="/trends/top" onload="iframe_init(this)" title="top posts"></iframe> 
    <iframe id="likers" src="/trends/likers" onload="iframe_init(this)" title="likers"></iframe> 

    <script>
        iframe_init("weekly");
        iframe_init("top");
        iframe_init("likers");
    </script>
</body>

</html>
