<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <!-- MAIN -->
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/main.css">

    <title>OnlyBuns - Trends - Likers</title>
    <link rel="stylesheet" href="/css/trends.css">
    <link rel="stylesheet" href="/css/accounts.css">

    <link rel="stylesheet" href="/css/animations/rainbow_h1.css">
</head>

<body>
    <h2>🔢 Site Numbers 🧮</h2>

    <div id="info">
        <h2 id="totalPosts" th:text="'🧮 TOTAL POSTS: ' + ${totalPosts}"></h2>
        <h2 id="postsLastMonth" th:text="'📆 POSTS LAST MONTH: ' + ${postsLastMonth}"></h2>
        <h2 id="lastUpdatedStr" th:text="'⌛ LAST UPDATED: ' + ${lastUpdatedStr}"></h2>
    </div>
</body>

</html>
