<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <!-- MAIN -->
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/main.css">

    <title>OnlyBuns - Trends</title>
    <link rel="stylesheet" href="/css/trends.css">
    
    <link rel="stylesheet" href="/css/animations/rainbow_h1.css">
</head>

<body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <h1>📈 Trends 📈</h1>

    <iframe id="weekly" src="/trends/weekly" title="weekly posts"></iframe> 
    <iframe id="top" src="/trends/top" title="top posts"></iframe> 
    <iframe id="likers" src="/trends/likers" title="likers"></iframe> 

    <script>
        function resizeIframeToFitContent(iframe) { iframe.style.height = (iframe.contentWindow.document.body.scrollHeight + 50) + "px"; }

        function resize(name) {
            const iframe = document.getElementById(name);
            iframe.onload = function () { resizeIframeToFitContent(iframe); };
        }

        resize("weekly");
        resize("top");
        resize("likers");
    </script>

</body>

</html>
