<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <!-- MAIN -->
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/main.css">

    <title>OnlyBuns - Trends - Likers</title>
    <link rel="stylesheet" href="/css/trends.css">
    <link rel="stylesheet" href="/css/accounts.css">
</head>

<body>
    <h1>💖 Top Likers 💕</h1>

    <div th:replace="~{fragments/accounts :: accounts}"></div>
</body>

</html>
