<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <!-- MAIN -->
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/main.css">

    <title>OnlyBuns - Trends - Weekly</title>
    <link rel="stylesheet" href="/css/trends.css">
    <link rel="stylesheet" href="/css/posts.css">
    <link rel="stylesheet" href="/css/commentform.css">
    <link rel="stylesheet" href="/css/popup.css">

    <link rel="stylesheet" href="/css/animations/rainbow_h1.css">

    <script defer type="text/javascript" src="/js/popup.js"></script>
    <script defer type="text/javascript" src="/js/actions.js"></script>
</head>

<body>
    <h2>📆 Weekly Top 📅</h2>

    <div th:replace="~{fragments/parentPosts :: parentPosts}"></div>

    <div th:replace="~{fragments/commentForm :: commentForm}"></div>
    <div th:replace="~{fragments/popup :: popup}"></div>
</body>

</html>
