<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <!-- MAIN -->
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
        <link rel="stylesheet" href="/css/main.css">

        <title>USERS</title>
        <link rel="stylesheet" href="/css/users.css">
    </head>

    <body>
        <ul id="navbar"></ul>

        <h1>USERS</h1>

        <div id="users"></div>

        <script type="text/javascript" src="/js/main.js"></script>
        <script type="text/javascript" src="/js/navbar.js"></script>
        <script type="text/javascript" src="/js/users.js"></script>
    </body>
</html>