<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/main.css">
    <title>OnlyBuns - 403 Forbidden</title>

    <link rel="stylesheet" href="/css/animations/glitch.css">
    <link rel="stylesheet" href="/css/animations/button-92.css">
</head>

<body>
    <a class="button-92 button-92-block" href="/">🏠 Home</a>
    <h1>⛔ 403 Forbidden ⛔</h1>
</body>

</html>
