<div th:fragment="navbar" >

    <link rel="stylesheet" href="/css/animations/button-42.css">

    <div id="navbar" class="blurred-box">
        <div id="navbar_left">
            <a class="button-42" href="/home">🏠 Home</a>
            <a class="button-42" href="/posts">🧭 Explore</a>
    
            <div th:if="${user != null}">
                <a class="button-42" href="/map">🗺️ View Map</a>
                <a class="button-42" href="/fyp">🫵 For You</a>
                <a class="button-42" href="/create">➕ Create Post</a>
                <a class="button-42" href="/chat">💬 Chat</a>
                <a class="button-42" href="/trends">📈 Trends</a>
            </div>
        </div>
        <div id="navbar_right">
            <div th:if="${user != null}">
                <div th:if="${user.isAdmin}">
                    <a class="button-42" href="/admin/accounts">👥 Accounts</a>
                    <a class="button-42" href="/admin/manage">🛠️ Management</a>
                </div>
    
                <div class="onlybuns_account">
                    <a class="button-42 onlybuns_account_link" href="/user">
                        <img th:src="${user.avatar}" class="onlybuns_avatar" alt="User Avatar" />
                        <span th:text="${user.userName}"></span>
                    </a>
                </div>
                <a class="button-42" href="/user/update">⚙️ Update</a>
                <a class="button-42" href="/logout">🚪 Log out</a>
            </div>
            <div th:if="${user == null}">
                <a class="button-42" href="/login">🔑 Log in</a>
                <a class="button-42" href="/register">📝 Register</a>
            </div>
        </div>
    </div>
</div>
