<div th:fragment="parentPostsControl" id="parentPostsControl" th:if="${totalPages != 0}">
    <div id="postnav">
        <span id="postnav_sort">
            <form id="sortForm" method="GET">
                <select id="sortOptions" name="sort" onchange="updateSortAndSubmit()">
                    <option value="" th:selected="${currentSort == ''}"></option>
                    <option value="id,asc" th:selected="${currentSort == 'id,asc'}">Oldest First</option>
                    <option value="id,desc" th:selected="${currentSort == 'id,desc'}">Newest First</option>
                    <option value="title,asc" th:selected="${currentSort == 'title,asc'}">Title Ascending</option>
                    <option value="title,desc" th:selected="${currentSort == 'title,desc'}">Title Descending</option>
                    <option value="likesCount,asc" th:selected="${currentSort == 'likesCount,asc'}">Likes Ascending</option>
                    <option value="likesCount,desc" th:selected="${currentSort == 'likesCount,desc'}">Likes Descending</option>
                </select>
            </form>
        </span>

        <script>
            function updateSortAndSubmit() {
                const sortForm = document.getElementById('sortForm');
                const sortOptions = document.getElementById('sortOptions');
                const currentUrl = window.location.pathname;
                const currentParams = new URLSearchParams(window.location.search);
                currentParams.set('sort', sortOptions.value);
                sortOptions.value = currentParams.get('sort');
                const newUrl = `${currentUrl}?${currentParams.toString()}`;
                sortForm.action = newUrl;
                sortForm.submit();
            }
        </script>

        <span th:replace="~{fragments/navpage :: navpage}"></span>
    </div>

    <div th:replace="~{fragments/parentPosts :: parentPosts}"></div>
</div>
